<div id="<%= dom_id task %>">
  <p class="my-5">
    <strong class="block font-medium mb-1 text-white">Tarea:</strong>
    <%= task.tarea %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 text-white">Descripcion:</strong>
    <%= task.descripcion %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 text-white">Completed:</strong>
    <%= task.completed %>
  </p>

</div>
