<nav class="bg-black">
  <div class="flex justify-between items-center text-white mx-10 py-5">
    <%= link_to 'Inicio', root_path %>
    <%#= link_to 'tareas', tasks_path %>
    <ul class="flex gap-10">
      <% if user_signed_in? %>
        <button>
          <li><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, data: { confirm: '¿Estás seguro de que quieres cerrar sesión?' } %></li>
        </button>
      <% else %>
        <button class="rounded-md border-double text-white border-4 border-white">
          <li><%= link_to 'Iniciar sesión', new_user_session_path %></li>
        </button>
        <button class="rounded-md text-black bg-white">
          <li><%= link_to 'Registrarse', new_user_registration_path %></li>
        </button>
      <% end %>
    </ul>
  </div>
</nav>