
<div class="flex justify-center space-x-4 m-20 opacity-55">
  <%= image_tag 'checkList1.jpg', alt: 'Logo de la aplicación', class: 'w-1/2 h-auto' %>
  <%= image_tag 'checklist2.jpg', alt: 'Logo de la aplicación', class: 'w-1/2 h-auto' %>
</div>